<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notatki</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
      <button ion-item *ngFor="let item of items; let i = index" (click)="goToNote( i )">
        {{ item }}
      </button>
    </ion-list>
    <ion-fab right bottom (click)="addNew()">
      <button ion-fab color="danger"><ion-icon name="create"></ion-icon></button>
    </ion-fab>
</ion-content>
