page-home {
    ion-content.content-ios,
    ion-content.content-md {
        background-color: map-get($colors, primary);
    }

    h1 {
        color: #fff;
        width: 100%;
        display: block;
        text-align: center;
        padding-top: 20%;
    }

    .finger {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
}
