<!--
  Generated template for the NotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="save()">
          Zapisz
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>

        <ion-item>
          <textarea type="text" [(ngModel)]="description" (ngModelChange)="descriptionChanged($event)"></textarea>
        </ion-item>

      </ion-list>
</ion-content>
